# Expo
.expo/
__generated__/
web-build/
dist/
expo-env.d.ts

# Dependencies
node_modules/

# Native builds (generated folders)
/ios/
/android/

# Metro
.metro/
.metro-health-check*

# macOS
.DS_Store

# Windows
Thumbs.db
db.db

# Environment variables (local secrets)
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDE/Editor settings
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
*.apk
*.hprof
*.jsbundle
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Typescript
*.tsbuildinfo

